---
---

<footer>
  <div class="container">
    <div class="foot-in">
      <div class="foot-logo"><img src="/images/logo-nav.png" alt="Minha Confeitaria App"></div>
      <div class="foot-links">
        <a href="/politica-de-privacidade">Política de Privacidade</a>
        <a href="/termos-de-uso">Termos de Uso</a>
        <a href="/aviso-legal">Aviso Legal</a>
        <a href="mailto:contato@minhaconfeitaria.com">Contato</a>
      </div>
      <div class="foot-copy">Copyright © 2026 Minha Confeitaria · Todos os Direitos Reservados</div>
    </div>
  </div>
</footer>
